.products
{
    display:flex;
    flex-flow:wrap;
    gap:2vw;
    padding:5vw;
    justify-content: space-around;
   
}
.productscontainer
{
    background-color: rgba(255, 255, 255, 0.648);
}

.categoryheader
{   padding:10px;
    display:flex;
    justify-content: center;
}

.catecontain
{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
}

.cateban
{
    width:70vw;
    height:60vh;
    border-radius: 30px;
    box-shadow: 0px 0px 15px black;
}

.categoryheading
{ 
  font-size: 4vh;
  font-weight: 700;
  color:#2DB457;
  padding-bottom:5px;
  position:relative;
  left:0%;
  right:50%;
  border-bottom: 3px solid #2DB457;
  margin-bottom: 5vh;
}

@media (max-width: 1000px)
 {
    
    .cateban
{
    width:700px;
    height:60vh;
    border-radius: 30px;
    box-shadow: 0px 0px 15px black;
}





 }

@media (max-width: 700px)
 {
    
    .cateban
{
    width:700px;
    height:60vh;
    border-radius: 0px;
    box-shadow: 0px 0px 15px black;
}



.catecontain
{
    display: flex;
    flex-flow: wrap;
    justify-content: start;
    align-content: center;
    overflow: hidden;
}

 }

    
