.searchPanel
{

    position:fixed;
    top:0;
    left:0;
    display:flex;
    justify-content: flex-end;
    flex-direction:row;
    width:100%;
    height:90%;
    z-index: 99;

}

.searchPanel .Content
{ 
    display: flex;
    width:23vw;
    height:100%;
    z-index: 1;
    position:absolute;
    flex-direction: column;
    background-color:white;
    margin-right: 7vw;
    margin-top:2vh;
    animation:slideSearch 0.5s ease-out;
    box-shadow: 0px 0px 4px 0px rgba(96, 96, 96, 0.585), 0 10px 10px 0px rgba(103, 103, 103, 0.629);

}

.search-header
{
    display:flex;
    flex-flow: row;
    justify-content:center;
    padding:10px 5px;
    border-bottom: 4px solid rgba(184, 184, 184, 0.205);
    
}

.searchclose
{
    cursor: pointer;
    color:green
}

.search-header input
{

 width:22vw;
 border: none;
 outline: none;
}


@keyframes slideSearch
{
100% {width:23vw
}
0% {width:0vw}
}
